orquestador.json
{
  "name": "Vinculacion Digital - Verificacion LINIX Programada",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "mode": "everyX",
            "value": 10,
            "unit": "minutes"
          }
        ]
      },
      "id": "cron-trigger",
      "name": "Cron: Verificar LINIX",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "requestMethod": "POST",
        "url": "https://consulta.congente.coop:8040/api/v1/linix/verificar-pendientes/",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\"limit\": 100}"
      },
      "id": "http-verificar-linix",
      "name": "HTTP: Verificar LINIX",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "functionCode": "/* 1. Diccionario de Agencias y Correos */\n/* IMPORTANTE: Este es el diccionario que debes mantener actualizado. */\nconst correosAgencias = {\n  \"PRINCIPAL\": \"agencia.principal@congente.coop\",\n  \"POPULAR\": \"agencia.popular@congente.coop\",\n  \"MONTECARLO\": \"agencia.montecarlo@congente.coop\",\n  \"PORFIA\": \"agencia.porfia@congente.coop\",\n  \"CATAMA\": \"agencia.catama@congente.coop\",\n  \"ACACIAS\": \"agencia.acacias@congente.coop\",\n  \"GRANADA\": \"agencia.granada@congente.coop\",\n  \"GUAYABETAL\": \"agencia.guayabetal@congente.coop\",\n  \"BARRANCA\": \"agencia.barranca@congente.coop\",\n  \"PUERTO_GAITAN\": \"agencia.puertogaitan@congente.coop\",\n  \"CABUYARO\": \"agencia.cabuyaro@congente.coop\",\n  \"VISTAHERMOSA\": \"agencia.vistahermosa@congente.coop\",\n  \"PUERTO_LOPEZ\": \"ase.comercial-01.puertolopez@congente.coop\",\n  \"EL_CASTILLO\": \"ase.comercial-01.castillo@congente.coop\",\n  \"CUMARAL\": \"ase.comercial-01.cumaral@congente.coop\",\n  \"LEJANIAS\": \"ase.comercial-01.lejanias@congente.coop\",\n  \"MESETAS\": \"ase.comercial-01.mesetas@congente.coop\",\n  \"PUERTO_RICO\": \"ase.comercial-01.puertorico@congente.coop\",\n  \"PUERTO_LLERAS\": \"ase.comercial-01.puertolleras@congente.coop\",\n  \"URIBE\": \"ase.comercial-01.uribe@congente.coop\",\n  \"YOPAL\": \"ase.comercial-01.yopal@congente.coop\",\n  \"VILLANUEVA\": \"ase.comercial-01.villanueva@congente.coop\",\n  \"default\": \"congente.tecnologia@congente.coop\"\n};\n\n/* 2. Procesar resultados */\nconst completados = $json.completed || [];\n\nreturn completados.map((item) => {\n  const agencia = (item.agencia || \"\").trim().toUpperCase().replace(/\\s+/g, \"_\");\n  item.email_agencia = correosAgencias[agencia] || correosAgencias.default;\n  return { json: item };\n});\n"
      },
      "id": "function-map-email",
      "name": "Preparar Email de Agencia",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "notificaciones@congente.coop",
        "toEmail": "={{ $json.email_agencia }}",
        "subject": "Nueva Intencion de Vinculacion Digital",
        "text": "Se ha completado una nueva intencion de vinculacion digital:\n\nCliente: {{ $json.nombres_completos }}\nCedula: {{ $json.numero_cedula }}\nAgencia Seleccionada: {{ $json.agencia }}\n\nPor favor, buscar al asociado en el sistema para continuar con el proceso.\n\n--\nSistema de Vinculacion Digital",
        "options": {}
      },
      "id": "email-agencia",
      "name": "Email a Agencia",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [
        1000,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "1",
          "name": "SMTP Congente"
        }
      }
    }
  ],
  "connections": {
    "Cron: Verificar LINIX": {
      "main": [
        [
          {
            "node": "HTTP: Verificar LINIX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Verificar LINIX": {
      "main": [
        [
          {
            "node": "Preparar Email de Agencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Email de Agencia": {
      "main": [
        [
          {
            "node": "Email a Agencia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
